<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>
      <add key="userId" value="RetrievalMountiesTest1@corp.go2uti.com" />
      <add key="password" value="ImageTest1" />
      <!--TEST -->
      <add key="documentumapiuri" value="https://frampi11.corp.go2uti.com:9443/dmssearch/viewer/objectid"/>
      <add key="documentumapiauthheadervalue" value="u0YrfLbqHJmSTcikVONokVLbN/ma5wa/EitczjejZS4qwM+6g="/>
    </appSettings>

    <connectionStrings>

    </connectionStrings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DMSSearchServicePortBinding">
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="DMSSearchServicePortBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://jnbupq03.go2uti.com:8443/fra/dctm/dctmsearch"
                binding="basicHttpBinding"
                bindingConfiguration="DMSSearchServicePortBinding"
                contract="DMSService.DMSSearchServicePort"
                name="DMSSearchServicePort" />
    </client>
  </system.serviceModel>
</configuration>
